@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.placar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100%;
}

.lado_placar {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#lado1 {
    background-color: #023e8a;
    width: 50%;
}

#lado2 {
    background-color: #e63946;
    width: 50%;
}

.lado_placar>section {
    display: flex;
    width: 100%;
    font-size: 26em;
    font-family: 'Righteous', Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    border: none;
}

.lado_placar>div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.placar>.lado_placar>button {
    background-color: #ff000000;
    opacity: 0.5;
    border: none;
    height: 50%;
    width: 50%;
    background-size: auto 50%;
    background-repeat: no-repeat;
    position: absolute;
}

.placar>.lado_placar>.botao-up {
    background-image:url("icones/arrow_up.png");
    background-position: 50% 10%;
    top: 0;
}

.placar>.lado_placar>.botao-down {
    background-image:url("icones/arrow_down.png");
    background-position: 50% 90%;
    bottom: 0;
}

.placar>.lado_placar>.botao-esquerdo {
    left: 0;
}

.placar>.lado_placar>.botao-direito {
    right: 0;
}

#botao-reiniciar {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
	border: none;
    font-size: 1.5em;
    height: 6%;
    width: 10%;
    position: absolute;
    top: 80%;
    left: 45%;
    overflow: hidden;
	cursor:pointer;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

#botao-reiniciar:hover {
    background-color: #3E8E41;
}

@media screen and (min-width: 1000px) {
  .placar>.lado_placar>button:hover, button:focus {
    opacity: 1;
    cursor: pointer;
    }
}